* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(198, 213, 182);
    font-family: sans-serif;
}



.notes-app__header {
    display: flex;
    align-items: center;
    padding: 30px 40px;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #59783c;
}

.notes-app__image {
    height: 60px;
}

#notes-app__title {
    font-size: 23px;
    flex: 1;
    margin: 0 15px;
    color: rgb(198, 213, 182);
}


.notes-app__body {
    margin: 10px auto;
    max-width: 1000px;
    width: 100%;
    padding: 20px;

}

.notes-app__input {
    margin: 5px 30px;
    padding: 20px;
    max-width: 1000px;
    font-family: 'Inter', sans-serif;
    border: 2px solid #8aaa7d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes-app__list, .notes-app-archive__list {
    margin: 10px 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #59783c;
}

.notes-input {
    max-width: 600px;
    width: 100%;
}

.notes-input__title, .notes-input__note, .notes-input__date {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 3px;
    padding: 10px;
    border: 2px solid #8aaa7d;
    border-radius: 6px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.input-character {
    color: #59783c;
    font-size: 13px;
    display: flex;
}


.headerNotes {
    font-weight: bold;
    color: #618752;
    margin-top: 15px;
    margin-bottom: 25px;
  }

.notes-item__body {
    padding: 10px;
    font-size: 14px;
    color: rgb(198, 213, 182);
}

.notes-item__body h3 {
    font-weight: bold;
    font-size: 23px;
    margin: 16px 0;
}


.notes-list, .notes-archive_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    gap: 16px;
    margin-bottom: 30px;
}

.notes-item {
    border: 2px solid #59783c;
    border-radius: 6px;
    overflow: hidden;
    background-color: #5d7e50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notes-item__content {
    padding: 5px 10px;
    flex: 1;
    font-size: 15px;
}

.notes-item__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }


.notes-item__date {
    font-size: 15px;
    margin-bottom: 8px;
    color: #1f3814; 
}

.notes-item__button {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}
.notes-button__input {
    font-size: 15px;
    padding: 5px 5px;
    margin-top: 20px;
    width: 100%;
    background-color: #59804a;
    border-radius: 6px;
    border: 2px transparent;
    color: rgb(198, 213, 182);
}

.notes-item_delete {
    color: rgb(212, 2, 2);
    font-size: 15px;
    padding: 5px 5px;
    width: 100%;
    border: 2px #59783c;
    background-color: rgb(198, 213, 182);
}

.notes-item_archive {
    color: #618752;
    width: 100%;
    font-size: 15px;
    padding: 5px 5px;
    border: 2px #59783c;
    background-color: rgb(198, 213, 182);
}

@media (max-width: 600px) {
  .notes-list,
  .notes-archive_list {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}
